* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
    line-height: 1.5;
}

a {
    color: #4078c0;
}

h1, h2 {
    border-bottom: 1px solid #EEE;
}

#main {
    width: 70%;
    margin: 0 auto;
}
