* {
    line-height: 1.5;
}

body {
    background: url('img/DSCN0206.JPG') no-repeat center center fixed;
    background-size: cover;
}

a {
    color: #4078c0;
}

h1, h2 {
    border-bottom: 1px solid #EEE;
}

code {
    font: 87% Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background-color: rgba(0,0,0,0.04);
    padding: 0.2em 0.6em;
    border-radius: 3px;
    margin: 0;
}

.block {
    display: table;
    text-align: center;
}
.block .content {
    display: table-cell;
    vertical-align: middle;
    height: auto;
    width: auto;
}

#heading {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
    width: 55%;
    color: #DDD;
}
#heading #A {
    font: 100px Papyrus;
}
#heading #B {
    font: 60px Papyrus;
    margin-top: -40px;
}

#screenshot {
    margin: 0 0 0 auto;
    display: block;
    width: 45%;
    margin-bottom: -65px;
}

#SitarHero {
    width: 70%;
    margin: 40px auto;
    color: #333;
    opacity: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    transition: opacity 0.3s ease;
    -webkit-transition: opacity 0.3s ease;
    background-color: #EEE;
    padding: 3.7%;
    border-radius: 10px;
}
